<h1>Working with Bootstrap</h1>
<button type="button" class="btn btn-secondary">Primary</button>
<h1>Working with Angular Material</h1>
<div class="example-label"><h1><b>Angular Button Materials</b></h1></div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button><br><br>
    <button mat-raised-button color="primary">Primary</button><br><br>
    <button mat-raised-button color="accent">Accent</button><br><br>
    <button mat-raised-button color="warn">Warn</button><br><br>
    <button mat-raised-button disabled>Disabled</button><br><br>
</div>
<h1>{{d|date:'full'|uppercase}}</h1>
<h3><b>Current Given </b>{{cus.city}}</h3>
<h3><b>Converted City </b>{{cus.city | highlight:cus.city}}</h3>
